<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phgap"
        versionCode = "16" 
        version     = "1.0.0" >

    <name>PhoneGap Example</name>

    <description>
        An example for start. 
    </description>

    <author email="antonpivovaroff@gmail.com">
        Anton Pivovaroff 
    </author>

</widget>